body {
background: linear-gradient(0.25turn, gray, #ebf8e1, #ecdecf);
}

.show-age,
.name-age {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.show-age {
margin-top: 100px;
}

.enter-name,
.find-button {
    background-color: transparent;
    border-radius: 5px;
    border-color: beige;
    border: none;
    display: inline;
    font-size: 20px;
}

.enter-name:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


